#info li{
  list-style-type: none;
  display: inline;
  padding-right: 20px;            
}
#info ul{
  height: 82px;
}

.h-center{
  text-align: center;
}

.v-center{
  vertical-align: middle;
  margin: auto 0;
}

#card #right-side{
  background: #C4C4C4;
}

#content h3{
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-top: 50px;
}

li{
  list-style-type: none;
}
ul{
  padding-left: 0px;
  padding-right: 0px;
}

#card{
  background: white;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, .35);
  border-radius: 20px;
  padding: 70px 60px;
}

.right{
  float: right;
}

#logo{
  margin-top: 50px;
}

