
  .ml-21 {
    margin-left: 21px;
  }
  .mt-21 {
    margin-top: 21px;
  }
  .mr-21 {
    margin-right: 21px;
  }
  .mb-21 {
    margin-bottom: 21px;
  }
  .pt-70 {
    padding-top: 70px;
  }
  .pt-70 {
    padding-bottom: 70px;
  }
  #intro {
    margin: 50px auto;
  }
  #back-button {
    color: black;
  }

  #title li{
    display: inline;
    padding-right: 42px;
  }
  #title ul{
    height: 40px;
  }

  .v-center{
    margin: auto 0px;
    vertical-align: middle;
    }
  .h-center{
    
    text-align: center;
  }
  #grey-box{
    background-color: #C4C4C4;
    height: 100%;
  }

  .right{
    float: right;
    align-items: center;
  }


  .ml--15{
    margin-left: -15px;
  }
  .ml-15{
    margin-left: 15px;
  }

  .ml{
    margin-left: 0px;
  }

  #content ul{
    list-style-type: none;
    padding-left: 0px;
  }
  .card-body{
    padding: 0px;
  }

  #content{
    margin-top: 70px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    padding: 70px 65px;
    background: white;
  }

  #button{
    background: #1B94EA;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: white;
    padding: 10px 50px;
  }

  .mb-50{
    margin-bottom: 50px;
  }

  body{
    color: #676767;
    overflow-x: hidden;
  }
 
  #text-box{
    /* width: 100%; */
    position: absolute;
    bottom: 0px;
    color: white;
    padding-bottom: 9%;
    padding-right: 40%;
  }
  #banner{
    position: relative;
  }
  body{
    background-image: url("../img/Elipse.png"), url("../img/Elipse1.png");
    background-size: 1800px;
    background-repeat: no-repeat;
    background-position: left -614px top 1500px, left 300px top 1000px;
    z-index: 1, -1;
  }